#ignore specificity dirs
Debug
bin
log
Release

# Compiled Object files
*.slo
*.lo
*.o

# VisualStudio temp files
*.obj
*.user
*.sdf
*.suo
*.ipch
*.tlog
*.pdb
*.error
*.ilk
*.res
*cache
*.manifest
*.log
*.lastbuildstate
*.idb

# Compiled Dynamic libraries
*.so
*.dylib


# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.out
*.app
